.circle-loading {
  animation: spin 2s infinite linear;
  width: 30px;
  height: 30px;
  border: 0.25rem solid rgba(221, 212, 212, 0.5);
  border-top-color: red;
  border-right-color: red;
  border-radius: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
